.conteiner
{width: 100%;
   box-sizing: border-box;
   padding: 10px 10px;
    margin: 0 auto;
  display: flex;
}
h1 {width: 100%;
text-align: center;
display: line;}
.colaboradores{
    
    border: 100px;
    border-color: black;
    border-radius: 8px;
  
    white-space: nowrap;
   justify-content: auto;
margin: 5px;
height: auto;

}


